<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
    table {
      width: 100%;
      text-align: left;
    }

    tr,
    td,
    th {
      margin: 0px;
    }
  </style>
  <body>
    <h2>Display Components</h2>

    <div>
      <table>
        <thead>
          <tr>
            <th style="width: 10%">Component Name</th>
            <th style="width: 10%">Object Id</th>
            <th style="width: 10%">Thumbnail</th>
            <th style="width: 70%">Properties</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(i=>{ %>

          <tr>
            <td style="width: 10%"><%=i.name %></td>
            <td style="width: 10%"><%=i.objectid %></td>
            <td style="width: 10%">
              <div>
                <img src="<%= i.img%>" width="70" height="70" alt="" />
              </div>
            </td>
            <td style="width: 70%">
              <div
                style="
                  display: flex;
                  justify-content: space-between;
                  flex-wrap: wrap;
                "
              >
                <% let k = Object.keys(i.properties); k.forEach((key)=>{ %>

                <div style="margin-right: 5px">
                  <b><%= key%></b> : <%= i.properties[key]%>
                </div>
                <%}) %>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
    <!-- <div >
        <div>C</div>
    </div> -->
  </body>
</html>
